<p class="alert alert-success alert-dismissable">
	<button class="close" type="button" data-dismiss="alert" aria-hidden="true">&times;</button>
	Page has been updated.
</p>
<form action="#" class="admin-model-form">
	<section class="container-fluid">
		<div class="row">
			<div class="col-lg-9">
				<div class="form-group">
					<label for="title">Title:</label>
					<input id="title" class="form-control input-lg" type="text" placeholder="Enter title..." value="Home page" />
				</div>
				<div class="form-group">
					<label for="slug">Slug:</label>
					<input id="slug" class="form-control" type="text" placeholder="Enter slug..." value="/" />
				</div>
				<div class="form-group">
					<label for="body">Body:</label>
					<textarea id="body" class="form-control" name="" rows="15">Lorem ipsum</textarea>
				</div>
				<h3>Extra</h3>
				<div class="form-group">
					<label for="subtitle">Subtitle:</label>
					<input id="subtitle" class="form-control" type="text" value="Lorem" />
				</div>
			</div>
			<aside class="col-lg-3">
				<div class="panel panel-default">
					<div class="panel-heading">
						Additional
					</div>
					<div class="panel-body">
						<div class="form-group">
							<label for="template">Template:</label>
							<select id="template" class="form-control" name="">
								<option value=""></option>
								<option value="">Home</option>
								<option value="">About</option>
							</select>
						</div>
						<div class="form-group">
							<label for="">Category:</label>
							<div class="well">
								<label class="checkbox" for="">
									<input type="checkbox" />
									First
								</label>
								<label class="checkbox" for="">
									<input type="checkbox" />
									Second
								</label>
							</div>
						</div>
						<button class="btn btn-block btn-success" type="submit">
							<i class="glyphicon glyphicon-floppy-save"></i>
							Update
						</button>
						<button class="btn btn-block btn-warning" type="submit">
							<i class="glyphicon glyphicon-remove"></i>
							Cancel
						</button>
						<button class="btn btn-block btn-danger" type="submit">
							<i class="glyphicon glyphicon-trash"></i>
							Delete
						</button>
					</div>
				</div>
			</aside>
		</div>
	</section>
</form>
